<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to task.user.name, user_path(task.user) %><span class="text-muted">投稿：<%= task.created_at %></span>
        </div>
        <div>
          <%= link_to task.content, task %> ：<%= task.status %></p>
        </div>
        <div>
          <% if current_user == task.user %>
            <%= link_to "削除", @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>